* {
  box-sizing: border-box;
}

.container-fluid-left-menu {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid-right-top {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}

.row .top {
  height: 200px;
}

.container-fluid-right-main {
  margin: 32px 0;
  padding-top: 40px;
}

.hidden-on-phones-part { //top
  display: flex;
  flex-wrap: wrap;
}

@for $i from 1 through 12 {
  .col-sm-#{$i} {
    $width: 100% / 12 * $i;

    flex: 0 0 $width;
    max-width: $width;
  }
}

@mixin grid($prefix) {
  @for $i from 1 through 12 {
    .col-#{$prefix}-#{$i} {
      $width: 100% / 12 * $i;

      flex: 0 0 $width;
      max-width: $width;
    }
  }
}

// /* main */

.general-statistics,
.links {
  box-shadow: 0 0 5px 5px rgb(139, 139, 139);
}

.links {
  margin-top: 32px;
}

@media (max-width: 767px) {
  @include grid('sm');

  .left {
    width: 100%;
  }

  .main h1 {
    color: rgb(15, 145, 149);
    font-size: small;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .main h2 {
    color: grey;
    font-size: small;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .link-row {
    max-width: 95%;
  }

  .menu-row,
  .links-in-row,
  .manager {
    padding-left: 12px;
  }

  .menu-row p {
    text-align: center;
    font-size: 32px;
    padding-left: 72px;
  }

  .menu-row .fa-bars {
    padding-top: 24px;
  }

  .left-nav .links-left-side {
    margin-left: auto;
    margin-right: auto;

    & img {
      margin-right: 24px;
    }
  }

  .manager {
    margin-left: auto;
    margin-right: auto;
  }

  .box img,
  .box .money-amount,
  .box .profile-name {
    margin-bottom: 12px;
    &.arrow {
      padding-top: 4px;
    }
  }
}

@media (min-width: 768px) {   //iPad
  @include grid('md');

  .left {
    width: 33.33333%;
  }

  .general-statistics {
    
  }

}

@media (min-width: 992px) {
  @include grid('lg');

  .left {
    width: 8.33333%;
  }

  .menu-row,
  .links-in-row,
  .manager {
    padding-left: 4px;
  }

  .left p {
    font-size: large;
  }
}

@media (min-width: 1200px) {
  @include grid('xl');

  .left p {
    font-size: 24px;
    padding-left: 8px;
  }

  .menu-row,
  .links-in-row,
  .manager {
    padding-left: 4px;
  }
}
